<h1 class="centeredtext">Photo Gallery of YouthQuake 2013</h1>

<div class="container-fluid">
    <div id="links">
        <a href="{{imageUrl}}gallery/2013/beach.jpg" title="beach" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/beach.jpg" alt="beach">
        </a>
        <a href="{{imageUrl}}gallery/2013/bills.jpg" title="bills" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/bills.jpg" alt="bills">
        </a>
        <a href="{{imageUrl}}gallery/2013/commissioning.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/commissioning.jpg" alt="commissioning">
        </a>

        <a href="{{imageUrl}}gallery/2013/feeding.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/feeding.jpg" alt="feeding">
        </a>

        <a href="{{imageUrl}}gallery/2013/feet.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/feet.jpg" alt="feet">
        </a>

        <a href="{{imageUrl}}gallery/2013/friends1.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/friends1.jpg" alt="friends1">
        </a>

        <a href="{{imageUrl}}gallery/2013/friends2.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/friends2.jpg" alt="friends2">
        </a>

        <a href="{{imageUrl}}gallery/2013/friends3.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/friends3.jpg" alt="friends3">
        </a>

        <a href="{{imageUrl}}gallery/2013/friends5.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/friends4.jpg" alt="friends4">
        </a>

        <a href="{{imageUrl}}gallery/2013/friends5.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/friends5.jpg" alt="friends5">
        </a>

        <a href="{{imageUrl}}gallery/2013/group.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/group.jpg" alt="group">
        </a>

        <a href="{{imageUrl}}gallery/2013/names.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/names.jpg" alt="names">
        </a>

        <a href="{{imageUrl}}gallery/2013/peace.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/peace.jpg" alt="peace">
        </a>

        <a href="{{imageUrl}}gallery/2013/port.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/port.jpg" alt="port">
        </a>

        <a href="{{imageUrl}}gallery/2013/prayer.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/prayer.jpg" alt="prayer">
        </a>

        <a href="{{imageUrl}}gallery/2013/shirts.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/shirts.jpg" alt="shirts">
        </a>

        <a href="{{imageUrl}}gallery/2013/singing.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/singing.jpg" alt="singing">
        </a>

        <a href="{{imageUrl}}gallery/2013/smallgroup.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/smallgroup.jpg" alt="smallgroup">
        </a>

        <a href="{{imageUrl}}gallery/2013/worship.jpg" data-gallery>
            <img src="{{imageUrl}}gallery/2013/thumbs/worship.jpg" alt="worship">
        </a>
    </div>
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>