<h1 class="centeredtext">Speakers</h1>
<!--
<p><span>Mr. Joshua Zambrano</span><br />Josh is the Youth Pastor for Iglesia Roca De Salvacion (Rock of Salvation)
in the Mission District of San Francisco and was the Worship Minister for a local group of
various churches named Khayeel (Greek for 'Mighty Moving Force'), and he has worked with One Truth Ministries,
the Youth Department for the Hispanic American Baptist Churches of Northern California.  He has
inspired and blessed many.</p>-->
<div class="present-content">
    <h3 class="speakerBlock">2015 Speakers:</h3>

    <p class="speakerBlock"><span>Gregg Sneller - International Ministries</span><br/><img src="{{imageUrl}}gregg.jpg" class="right speakerPic"/>
        Bio of an Addict
    </p>
    <p>
        My name is Gregg A. Sneller and I am an addict. Some of my addictions are…
    </p>
    <p>
        … bicycle touring across the U.S. and have been in 20 states on those three journeys that totaled over
        10,000 miles.
    </p>
    <p>
        … screaming down hills on a mountain bike since 1982 and yes, I love climbing too.
    </p>
    <p>
        … following Jesus into the craziest of places since childhood. Some of those places have been Mexico,
        the local church in different settings, neighborhood associations, Habitat for Humanity, Crop Walking,
        leading outdoor camps, learning that numbers in worship are not as important as serving in the
        community and showing Jesus to people.
    </p>
    <p>
        … lifelong learning from bars to Rainbow Acres to monasteries where God has deeply touched my life.
    </p>
    <p>
        … waking up each day, not knowing what is ahead but knowing that God will guide me and use me for
        some purpose.
    </p>
    <p>
        … an ever growing realization that I own nothing and everything in my life is a gift from God.
    </p>
    <p>
        … using the home entrusted to our family to house people from all over the world. Students from 16
        countries have lived in God’s house here in Portland.
    </p>
    <p>
        … using everything I possibly can to help the local church, missionaries and others around the world to
        be able to serve and show Jesus love to others.
    </p>
    <p>
        … joking around and sharing joy wherever I go. My two associates, Ms. Adelaide and Ms. Amelia assist
        me in that process. They love their leash and between them weigh less than a 16 pound cat.
    </p>
    <p>
        … growing in Christ by learning from others as I watch them walk with Jesus and show Jesus to the
        world.
    </p>
    <p>
        Finally, I am blessed to be married to Cheryl who is trained as a pastoral counselor, chaplain, public
        school teacher with English as a Second language certification and Reading Specialist credentials for the
        past 37 years. Cheryl works in a school district with more than 70 different languages being spoken in
        student’s homes. Cheryl’s skills have all helped to keep me focused. We are blessed with two daughters
        who have hearts committed to caring for people with their life callings. They take after all of the best
        qualities of their mother and some of their father. After 30 years of pastoring, God has allowed me to
        work with some incredibly great people who serve all around the world on behalf of International
        Ministries. One of the greatest privileges in my life is seeing people get excited about using what they
        have to bless the world with Christ’s love.
    </p>

    <p class="speakerBlock"><span>Rev. Dr. Allison J. Tanner</span><br/><img src="{{imageUrl}}allison.jpg" class="right speakerPic"/>
        Allison Tanner is Minister of Christian Formation at Lakeshore Avenue
        Baptist Church, where she has been on staff for 16 years.  A
        significant part of her work at Lakeshore includes functioning as the
        youth pastor to middle school, high school and college-age students.
        She has helped organize Youthquake in previous years, working closely
        with their mission partners. Called to both preach and teach, she also
        teaches philosophy at Holy Names University.
    </p>

    <p class="speakerBlock"><span>Rev. Jonathan Zingkhai</span><br/>
       Jonathan Zingkhai was born into a non-Christian family home in Huishu Village, in
       Manipur India. As a young man, he genuinely enjoyed playing soccer and taking care of
       his father’s water buffalos. In 1985 he received God’s calling for full time ministry;
       serving people who are homeless, hurting and broken due to substance abuse and other
       forms of destructive life patterns. By the Grace of God, he has been in this ministry for
       26 years; enjoying being in service and helping those who are dying without knowing
       Christ.<br />

       After serving for five years at Mount Gilead Home, a drug rehabilitation center in
       Nagaland, India, Jonathan joined the CityTeam International staff in San Jose, California
       in1993. In this ministry he served for two years as Chaplain in the men’s recovery
       program and served for seven years as a Substance Abuse Rehabilitation Trainer to
       pastors, counselors and social workers overseas (Indonesia, Singapore etc.).
       Jonathan graduated from American Baptist Seminary of the West, Berkeley in 2008 with
       a M. Div. Degree. He currently serves at the San Francisco’s CityTeam International as a
       Recovery and Rescue Program Manager. Jonathan is also the co-founder of “Jon
       Christian English School” (school for poor and disadvantaged village kids) and “Spring
       of Hope” (SOH) in North-east India; a ministry established to serve people with AIDS,
       and to protect future generations from the epidemic. Rev. Zingkhai has a passion for
       people throughout the world who are poor, hurting, broken, and destitute due to drugs
       and alcohol use and infected by HIV/AIDS. His passion is to be a voice for the voiceless
       and to share the love of God to all people. <br />

       Jonathan and his wife Khan reside in Berkeley, California. God has blessed them with
       three lovely children; Wungsem at 9 years, Vareho at 7 years and Abigail at 2 and half
       years of age.
    </p>

    <div class="centeredtext clearFloat">
        <button class="past">Past Speakers</button>
    </div>
</div>

<div class="past-content">
    <h3 class="speakerBlock">2014 Speakers:</h3>

    <p class="speakerBlock"><span>Tatiana Guadamuz-Aragon</span><br/><img src="{{imageUrl}}tatiana.jpg" class="right speakerPic"/>
        Tatiana Guadamuz-Aragon nació a padres Centro Americanos en Lakenheath, Inglaterra cuando su padre sirvió en la
        Fuerza Aérea de los Estados Unidos. Dios le dio la oportunidad de estudiar en la Universidad Patten y recibió su
        bachillerato en Estudios Bíblicos en el 2002. Dios la llamo a seguir con sus estudios llevándola a Cleveland, TN
        para estudiar su Maestría en Divinidades del Seminario Teológico de la Iglesia de Dios. Termino su Maestría en
        Liderazgo Ministerial y Consejería. Al regresar a California, empiezo a trabajar en la Universidad Patten en el
        departamento de admisiones. También sirvió por varios años como Decana de Estudiantes en la universidad. Sirvió
        como Pastora Asociada en la Iglesia de Dios en San José, CA, bajo el liderazgo del Obispo Lemuel y Chaney García
        y actualmente es la Pastora Interina de dicha congregación.<br/><br/>

        Tatiana Guadamuz-Aragon was born to Central American parents in Lakenheath, England while her father served in
        the United States Air Force. Upon graduating from high school, God gave her the opportunity to study at Patten
        University where she received her Bachelors of Arts in Biblical Studies in 2002. Immediately following her
        graduation at Patten, God called her to Cleveland, TN to continue her studies at the Church of God Theological
        Seminary. She finished her Masters of Divinity degree in Ministry Leadership and Counseling. She returned to
        California and began working at Patten University as an Admissions Counselor. She then held the position of Dean
        of Students for several years. She also served as Associate Pastor at the Iglesia de Dios (Church of God) in San
        Jose, CA, under the leadership of Bishop Lemuel and Chaney Garcia and is currently the Interim Pastor at such
        congregation.
    </p>

    <p class="speakerBlock"><span>Billy Castillo</span><br/>
        Billy Castillo was raised in the way of the Lord. He strayed at age 13 until age 32 when a charge against him
        lead him back to the Lord. Baptized 2007 and graduated seminary 2011, Billy is now and ordained youth leader at
        Portola Baptist Church. He preaches and ministers wherever God sends him, which currently includes street
        evangelism with homeless youth and work with other congregations all for the kingdom of God. Billy is a husband
        of 24 years, a father to 4, and recently a grandfather.
    </p>

    <p class="speakerBlock"><span>Jason Chu</span><br/><img src="{{imageUrl}}jason.jpg" class="right speakerPic"/>
        Jason Chu is a rapper based in Los Angeles. Studying at Yale, working in Seoul and Beijing, creating music in
        LA. Over the past decade, Jason has lived alongside people from all sides of our world. He makes music about a
        world filled with joy and cynicism, greed and hope, hurt and healing. His music deals with the experiences of a
        generation working through cynicism and faith with honesty and hopefulness.
    </p>

    <br />

    <h3 class="speakerBlock">2013 Speakers:</h3>

    <p class="speakerBlock"><span>Rev. Marie Onwubuariri</span><br/><img src="{{imageUrl}}marie.jpg" class="right speakerPic"/>
        Marie self-defines as a 1.75 Filipina-American - born in the Philippines, raised in the U.S.,
        but not quite the same as what society calls a 1.5 gen immigrant (ask her if you want more info!)
        This journey of self-identity emerged for her a passion and calling to be an effective
        intercultural leader, bridging between people of different generations, ethnicities, and walks of
        life. She was raised in an American Baptist church in New York City, and after a career in the
        retail industry she followed God's leading to devote her life to following Christ. Marie comes
        with her ministry experiences as an active lay person, a youth director, a young adult minister,
        a senior pastor, an emerging leader in the American Baptist denomination, and currently loves
        helping people discern their call as the Director of Admissions at the American Baptist Seminary
        of the West in Berkeley. She lives in San Pablo with her husband, two young kids, and beloved dog.
        She enjoys a variety of music, photography, and a good game of volleyball.</p>

    <p class="speakerBlock"><span>Rev. Jeffrey Wilson</span><br/>
        Music and the Word of God is Rev. Jeffrey's passion. He is currently the Minister of Music at
        First AME Church in Oakland, and he is the Youth Bible Study teacher for the Youth Ministry at
        Allen Temple Baptist Church and a guest preacher at Freedom, the youth church at Allen Temple.</p>

    <p class="speakerBlock"><span>Mr. Joshua Zambrano</span><br/>Josh is the Youth Pastor for Iglesia Roca De Salvacion (Rock of Salvation)
        in the Mission District of San Francisco and was the Worship Minister for a local group of
        various churches named Khayeel (Greek for 'Mighty Moving Force'), and he has worked with One Truth Ministries,
        the Youth Department for the Hispanic American Baptist Churches of Northern California. He has
        inspired and blessed many.</p>

    <h3 class="speakerBlock">2012 Speaker:</h3>

    <p class="speakerBlock"><span>John W. Polite, III</span><br/><img src="{{imageUrl}}jp.jpg" class="right speakerPic"/>
        John Polite was born and raised in Riverside, California where he attended public
        schools and was active in the life of the church. He received his bachelor of arts in
        communications from Cal Poly Pomona in 1992, where he served as president of the campus
        chapter of the NAACP, Alpha Phi Alpha Fraternity, Inc. and was an editor of the campus
        newspaper, and active in Cal Poly's chapter of Campus Crusade for Christ. He was a
        staff writer for the Inland Valley Daily Bulletin, and holds a Master of Divinity
        degree from the American Baptist Seminary of the West in Berkeley, CA. He has been
        active on a national level in the American Baptist Churches in the USA since 1997
        serving as a member of the Youth Ministry Resource Team, the Statements of Concern
        Committee and the Minister's Council Executive Committee. He serves on the board of
        trustees for the American Baptist Seminary of the West. In his time in local church
        ministry, he served as an intern at the First Baptist Church of Riverside, CA, and at
        Church of the Good Shepherd in Oakland, CA. He became the first African American
        pastoral staff member at the historic First Baptist Church of Los Angeles in 1997 and
        was ordained into the gospel ministry early on in his tenure at First L.A. He was the
        Senior Pastor of the ethnically and culturally diverse Panorama Baptist Church in
        Arleta, CA from 2001 to 2012. Currently, JP serves as the worship arts consultant for
        the American Baptist Churches of Los Angeles, the Worship Arts director for the First
        Baptist Church of Los Angeles, and is the lead facilitator of reMIX, a burgeoning faith
        community of young un-churched and de-churched young adults who are using new and
        creative ways to tell God's story to a generation that has gotten lost in the
        translation.</p>

    <div class="centeredtext">
        <button class="present">Return to Speaker Bio Main Page</button>
    </div>
</div>