<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>YOUTHQUAKE</title>
    <link rel="Shortcut Icon" href="icon.ico"/>
    <link rel="stylesheet" href="{{url}}css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="{{url}}css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="{{url}}css/style.css"/>
</head>
<body>
<div class="navbar">
    {{md './src/pages/header.md'}}
</div>
<!--div 0 - "home"-->
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div role="navigation" id="sidebar" class="col-xs-6 col-sm-3 sidebar-offcanvas">
            {{md './src/pages/sidebar.md'}}
        </div>

        <div class="col-xs-12 col-sm-9 main">
            {{>body}}
            <hr>
            <div id="footer" class="row centeredtext orange">
                YouthQuake is hosted by a consortium of Northern California American Baptist Churches
            </div>
        </div>
    </div>
</div>
</div>
<script src="{{url}}js/jquery-1.11.1.min.js"></script>
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="{{url}}js/bootstrap-image-gallery.min.js"></script>
<script src="{{url}}js/youthquake.js"></script>
<script src="{{url}}js/bootstrap.min.js"></script>
</body>
</html>